{% block Footer %}
    <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                  
                            <div class="app-footer-right">
                                <ul class="header-megamenu nav">
                                
                                    <li class="nav-item">
                                        <a  lass="nav-link">
                                        © 2022 CRM VIE SCOLAIRE.
                                        <div class="badge badge-dark ml-0 ml-1">
                                        <small>Version 1.0.0</small>
                                        </div>
                                   
                                        <td></td>
                                        </a>
                                      
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}